
.actionBlockWrapper {
    position: relative;
    background-color: var(--block-color);
    border-radius: var(--border-radius);
    width: 400px;
    padding: 10px;
    box-shadow: rgb(255 255 255 / 50%) 0px 30.0211px 43.1072px -27.7118px inset,
    rgb(255 255 255) 0px 5.38841px 8.46749px -3.07909px inset,
    rgb(96 68 145 / 30%) 0px -63.1213px 52.3445px -49.2654px inset,
    rgb(202 172 255 / 30%) 0px 75.4377px 76.9772px -36.9491px inset,
    rgb(154 146 210 / 30%) 0px 3.07909px 13.8559px inset,
    rgb(227 222 255 / 20%) 0px 0.769772px 30.7909px inset;;
}

.actionBlockWrapper:hover{
    cursor: pointer;
    transform: scale(1.01);

    transition-property: transform;
    transition-duration: 500ms;
}

.actionBlockHead, .modalHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.actionBlockHead h3, .modalHead h3 {
    font-size: 1.3rem;
    font-weight: 500;
    background: linear-gradient(180deg, #ffffff, #ff89ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.actionBlockHead h3, .modalHead p {
    font-size: 1.2rem;
    background: linear-gradient(180deg, #ffffff, #ff89ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.actionBlockBody {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 20px 40px;
    color: white;
}


.underlineTitle {
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, #ffffff, #ff89ab);
    box-shadow: 4px 4px 8px #000000;
    opacity: 70%;
    border-radius: 3px;

}

.tokenWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.tokenWrapper p{
    margin-top: 30px;
    font-weight: 500;
    z-index: 2;
}

.tokenWrapper span{
    z-index: 2;
    animation-name: upDown;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 6s;
}

@keyframes upDown {
    0% {
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.shadow{
    position: absolute;
    width: 48px;
    height: 23px;
    z-index: 0;
    background: #965E9F;
    filter: blur(16px);
    top: 50px;
    left: 1px;
    border-radius: 34px;
    transform: rotateX(65deg);
}



/* modal */

.modalWrapper {
    width: 650px;
    padding: 10px;
    border-radius: var(--border-radius);
    box-shadow: rgb(255 255 255 / 50%) 0px 30.0211px 43.1072px -27.7118px inset,
    rgb(255 255 255) 0px 5.38841px 8.46749px -3.07909px inset,
    rgb(96 68 145 / 30%) 0px -63.1213px 52.3445px -49.2654px inset,
    rgb(202 172 255 / 30%) 0px 75.4377px 76.9772px -36.9491px inset,
    rgb(154 146 210 / 30%) 0px 3.07909px 13.8559px inset,
    rgb(227 222 255 / 20%) 0px 0.769772px 30.7909px inset;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    z-index: 10;
}

.modalBody{
    padding: 10px;
    position: relative;
}

.inputToken {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 20px auto;
}

.inputToken input {
    width: 70%;
    margin-left: 20px;
}

.modalArrows{
    margin: auto;
    transform: rotate(90deg);
}

.h2Modal{
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 20px;
    color: white;
    font-weight: bold;
    background: linear-gradient(180deg, #ffffff, #ff89ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modalFooter{
    width: 100%;
    display: flex;
}

.submitButton {
    margin: 20px auto;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: rgb(255 255 255 / 50%) 0px 30.0211px 43.1072px -27.7118px inset,
    rgb(255 255 255) 0px 5.38841px 8.46749px -3.07909px inset,
    rgb(96 68 145 / 30%) 0px -63.1213px 52.3445px -49.2654px inset,
    rgb(202 172 255 / 30%) 0px 75.4377px 76.9772px -36.9491px inset,
    rgb(154 146 210 / 30%) 0px 3.07909px 13.8559px inset,
    rgb(227 222 255 / 20%) 0px 0.769772px 30.7909px inset;
}

.submitButton:hover{
    transition-duration: 1s;
    transform: scale(1.05);
}

.submitButtonExternal{
    margin: 10px auto;
    padding: 5px 15px;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: rgb(255 255 255 / 50%) 0px 30.0211px 43.1072px -27.7118px inset,
    rgb(255 255 255) 0px 5.38841px 8.46749px -3.07909px inset,
    rgb(96 68 145 / 30%) 0px -63.1213px 52.3445px -49.2654px inset,
    rgb(202 172 255 / 30%) 0px 75.4377px 76.9772px -36.9491px inset,
    rgb(154 146 210 / 30%) 0px 3.07909px 13.8559px inset,
    rgb(227 222 255 / 20%) 0px 0.769772px 30.7909px inset;
}

.submitButtonExternal:hover{
    transition-duration: 1s;
    transform: scale(1.05);
}


.addLiquidity{
    width: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tokenWrapperAdd {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
}

.tokenWrapperAdd p {
    margin-top: 4px;
    font-weight: bold;
}

.poolWrapper {
    text-align: center;
}

.poolWrapper div {
    display: flex;
    align-items: center;
}

.poolWrapper svg {
    margin-left: 8px;
}

.addLiquidityArrow {
    margin-bottom: 18px;
}

.modalBodyLiquidity{
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 20px 40px;
    color: white;
    align-items: center;
    flex-direction: column;
}

.whiteLine{
    height: 1px;
    width: 100%;
    background: white;
    margin: 20px auto;
    border-radius: 5px;
}

.totalLiquidityWrapper {
    width: 90%;
    font-weight: bold;
    display: flex;
    color: white;
    justify-content: flex-end;
}

.sliderSelect {
    width: 80%;
    color: darkslateblue;
}

.removeActionButton {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.2rem;
}

.tokenLogo {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 1px solid #025629;
    border-radius: 50%;
    background: rgba(11, 33, 40, 0.31);
    margin-right: 10px;
}

.tokenLogo span{
    word-break: break-all;
    font-size: 13px;
}